body {
    background-color: #f9f7fe;
    font-family: Helvetica, Arial, sans-serif;
}

.container {
    margin: 120px auto;
    max-width: 600px;
}

header {
    margin-bottom: 30px;
}

h1 {
    color: #272044;
    font-size: 36px;
    font-weight: 800;
    line-height: 1.5;
    text-align: center;
}

form {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
    display: flex;
    padding: 30px;
    margin-bottom: 30px;
}

.instructions {
    border: 1px solid rgba(39, 33, 66, 0.5);
    border-radius: 50px;
    color: #272044;
    font-size: 16px;
    line-height: 20px;
    padding: 16px;
    width: 80%;
}

.submit-button {
    background-color: #885DF1;
    border: none;
    border-radius: 50px;
    color: white;
    font-size: 16px;
    margin-left: 10px;
    padding: 14px 24px;
    transition: all 250ms ease-in-out;
    width: 150px;
}

.submit-button:hover {
    background-color: #662EED;
}

.recipe {
    background-color: #fff;
    border-left: 3px solid #885DF1;
    box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
    font-size: 16px;
    line-height: 2;
    padding: 20px;
}

.recipe strong {
    color: #885DF1;
}

footer {
    font-size: 13px;
    margin-top: 30px;
    text-align: center;
}

a {
    color: #885DF1;
}